@charset "utf-8";
@import "compass";
@import "compass/reset";

//
// Mixins
//

@mixin vertically-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//
// Element styles
//

h1 {
  @include adjust-font-size-to(2em);
}

h2 {
  @include adjust-font-size-to(1.5em);
}

//
// Class styles
//

.container {
  @include container(60em);

  > #{headings()}, > p {
    @include span(12 of 12);
  }
}

.hero {
  background-color: #eee;
  height: 400px;
  text-align: center;

  > * {
    @include vertically-center();
  }
}
